<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Title goes here {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {%block additionalcss %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 700">
        <a class="navbar-brand" href="/">Conservation Planning Inventory Tool </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Map</a>
                <a class="nav-item nav-link" href="/table">Table</a>
                {% if "curr_user" in session %}
                <a class="nav-item nav-link" href="/users/{{session["curr_user"]}}">User</a>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown">
                        Other Tools
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://sca-cpt-frontend.herokuapp.com/">Conservation Prioritization Tool</a>
                        <a class="dropdown-item" href="https://sca-cvt.netlify.app/">Conservation Visualization Tool</a>

                    </div>
                </li>
                <a class="nav-item nav-link" href="/contactus">Contact Us</a>
            </div>
            <div class="my-2 my-lg-0"></div>
            {% if "curr_user" in session %}
            <span class="navbar-text">
                <strong>Welcome, {{session["curr_user"]}}</strong>
                <form action="/logout" method="post" style="display: inline;">
                    <a href="#" onclick="this.parentNode.submit(); return false;">Log out</a>
                </form>
            </span>
            {% else %}
            <span class="navbar-text mx-2">
                <a href="/register">Register</a>
            </span>
            <span class="navbar-text mx-2">
                <a href="/login">Log in</a>
            </span>
            {% endif %}
        </div>
        </div>
    </nav>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% block additionaljs %}
    {% endblock %}
</body>

</html>