{% extends 'base.html' %}
{% block title %}
Contact Us
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="jumbotron">
      <h1 class="display-4">Contact Us</h1>
      <p class="lead">Your input is really valuable to us. Please let us know!</p>
      <hr class="my-4">
      <p class="lead">For more information, please contact our Project Coordinator</p>
      <p><strong>Dr. Amanda Sesser</strong></p>
      <p>Project Coordinator</p>
      <p>e.g. 21sustainability</p>
      <a href="mailto:scaprojectgulf@gmail.com" class="btn btn-success">Send an email</a>
      <hr class="my-4">
      <p class="lead">Or one of our project's Principal Investigators:</p>
      <p><strong>Dr. Kristine Evans</strong></p>
      <p>Co-Director of the Quantitative Ecology and Spatial Technologies Lab (QuEST) Lab</p>
      <p>Mississippi State University</p>
      <a href="mailto:scaprojectgulf@gmail.com" class="btn btn-success">Send an email</a>
      
  
    </div>
  </div>

  {% endblock %}