{% extends 'base.html' %}
{% block title %}
New Plan
{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="display-4">New Plan</h2>
    <hr>
    <form id="feedback-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
           if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            <label>
                {{ field.label }}
                {% if field.flags.required %}
                <span style="color: red;">*</span>
                {% endif %}
            </label>
            {{ field(class_='form-control') }}
            <small></small>
            {% for error in field.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        {% endfor %}

        <button class="btn btn-success" type="submit">Submit</button>
        <a href="/" class ="btn btn-secondary">Back to home</a>
    </form>
</div>
{% endblock %}