{% extends 'base.html' %}
{% block title %}
Table
{% endblock %}

{% block additionalcss %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/static/table.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<style>
    .fas {
        color: rgb(185, 180, 180);
    }

    .liked {
        color: burlywood;
    }

    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: gainsboro;
        color: black;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .fas:hover .tooltiptext {
        visibility: visible;
    }
</style>
{% endblock %}

{% block content %}

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn mt-5" onclick="closeNav()">&times;</a>
    <p class="h3 mt-5" style="color: rgb(231, 221, 208);">Filter table:</p>
    <hr>
    <label for="inputGroupSelect01" style="color: rgb(231, 221, 208);" class="m-2">Related State: </label>
    <div class="input-group m-2" style="width: auto;">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected value="ALL">All scale</option>
            <option value="AL">Alabama</option>
            <option value="FL">Florida</option>
            <option value="LA">Louisiana</option>
            <option value="MS">Mississippi</option>
            <option value="TX">Texas</option>
            <option value="SE">Southeast Regional</option>
        </select>
    </div>
      <label for="inputGroupSelect01" style="color: rgb(231, 221, 208);" class="m-2">Timeframe: </label>
      <div class="input-group m-2" style="width: auto;">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected value="All Plans">All Plans:</option>
          <option value="Plan within 5 years">Plan within 5 years</option>
          <option value="Plan within 10 years">Plan within 10 years</option>
          <option value="Plans longer than 10 years">Plans longer than 10 years</option>
        </select>
      </div>
      <label for="inputGroupSelect01" style="color: rgb(231, 221, 208);" class="m-2">Priority: </label>
      <div class="input-group m-2" style="width: auto;">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected value="All Conservations Plans">All Conservations Plans</option>
          <option value="Water Quality Related Plans">Water Quality Related Plans</option>
          <option value="Habitat Related Plans">Habitat Related Plans</option>
          <option value="Resources/Species Related Plans">Resources/Species Related Plans</option>
          <option value="Community Resilience Related Plans">Community Resilience Related Plans</option>
          <option value="Ecosystem Resilience Related Plans">Ecosystem Resilience Related Plans</option>
          <option value="Gulf Economy Related Plans">Gulf Economy Related Plans</option>
        </select>
      </div>
    <button class="btn btn-primary m-2" id="filter-table">Filter</button>
</div>
<div class="control mx-5 mt-2">
    <button class="btn btn-secondary btn-lg" onclick="openNav()">Filter</button>
</div>

<div id="main">
    <table id="plan_table" class="display" style="width:90%">
        <thead>
            <tr>
                <th></th>
                <th>Plan Name</th>
                <th>Primary Planning Method</th>
                <th>Plan Time Frame</th>
                <th>Agency Lead</th>
                <th>Plan Details NAHHH</th>
                <th>Original Document</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


{% endblock %}

{% block additionaljs %}
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
        document.getElementById("main").style.marginLeft = "350px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
    let current_user = false;
    {% if "curr_user" in session %}
    current_user = true;
    {% endif %}
    const likes = {{ likes }}
    $(document).ready(function () {
        const table = $('#plan_table').DataTable({
            "ordering": false,
            "searching": false,
            "info": false,
            "lengthChange": false,
            "ajax": "/table_get_data",
            "columns": [
                {
                    "orderable": false,
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        if (current_user) {
                            if (likes.includes(data)) {
                                return '<i class="fas fa-star liked" data-id="' + data + '"><span class="tooltiptext">Add to your favorites</span></i>'
                            } else {
                                return '<i class="fas fa-star" data-id="' + data + '"><span class="tooltiptext">Add to your favorites</span></i>'
                            }
                        }else{
                            return ''
                        }
                    }
                },
                {
                    "data": "plan_name",
                    "width": "30%"
                },
                { "data": "planning_method" },
                { "data": "plan_timeframe" },
                { "data": "agency_lead", "width": "25%" },
                {
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary" href="/plans/' + data + '">Learn more</a>';
                    }
                },
                {
                    "data": "plan_url",
                    "render": function (data, type, full, meta) {
                        return '<a class= "btn btn-secondary"' + ' href="' + data + '">Raw document</a>';
                    }
                }

            ]
        });
        {% if "curr_user" in session %}
        $('#plan_table tbody').on('click', '.fas', function (e) {
            e.target.classList.toggle("liked");
            axios.post(`/plans/${e.target.dataset.id}/like`)
        });
        {% endif %}
        $('#filter-table').click(function () {
            const scale = $('#inputGroupSelect01').val()
            table.ajax.url(`/table_get_data?scale=${scale}`).load()
            closeNav()
        })
    });

</script>

{% endblock %}